<div class="ml-3">
  <div *ngIf="alert" class="alert alert-success" role="alert">
    {{msgAlert}}
  </div>
  <form name="pessoaForm" (ngSubmit)="save()" [formGroup]="pessoaForm">
    <div class="form-group row" [hidden]="!pessoaForm.get('id').value">
      <label class="col-sm-1 col-form-label" for="id">ID</label>
      <div class="col-2">
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="nome">Nome</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="nome" name="nome" formControlName="nome">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="email">Email</label>
      <div class="col-sm-4">
        <input class="form-control" type="text" id="email" name="email" formControlName="email">
      </div>
    </div>
    <hr>
    <div formGroupName="endereco">
      <div class="row">
        <div class="content-left col-4">
          <div class="form-group row">
            <label class="col col-form-label" for="logradouro">Logradouro</label>
            <div class="col">
              <input class="form-control" type="text" id="logradouro" name="logradouro" formControlName="logradouro">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label" for="numero">Numero</label>
            <div class="col">
              <input class="form-control" type="text" id="numero" name="numero" formControlName="numero">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label" for="bairro">Bairro</label>
            <div class="col">
              <input class="form-control" type="text" id="bairro" name="bairro" formControlName="bairro">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label" for="cep">Cep</label>
            <div class="col">
              <input class="form-control" type="text" id="cep" name="cep" formControlName="cep">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label" for="estado">Estado</label>
            <div class="col">
              <input class="form-control" type="text" id="estado" name="estado" formControlName="estado">
            </div>
          </div>
          <div class="form-group row">
            <label class="col col-form-label" for="cidade">Cidade</label>
            <div class="col">
              <input class="form-control" type="text" id="cidade" name="cidade" formControlName="cidade">
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col-offset-1 mt-1 mb-4">
              <button [disabled]="!pessoaForm.get(['endereco']).get(['logradouro']).value" type="button" class="ml-3 btn-sm btn-primary" (click)="addEndereco()">+ Endereco</button>
            </div>
          </div>
          <div class="row">
            <ul [ngStyle]="{'list-style': 'none', 'display': 'flex', 'align-items': 'center'}">
              <li class="mt-6 ml-2" *ngFor="let endereco of enderecos; let i = index">{{endereco.logradouro}}
                {{endereco.numero}} {{endereco.bairro}}
                {{endereco.cep}} {{endereco.cidade}} {{endereco.estado}} <button type="button" class="btn-sm btn-danger"
                  (click)="removeEndereco(i)">-</button></li>
            </ul>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="row">
      <button class="btn btn-success" type="submit">Finalizar</button>
    </div>
  </form>
</div>