<div class="ml-3">
  <div *ngIf="alert" class="alert alert-success" role="alert">
    {{msgAlert}}
  </div>
  <form name="pessoaForm" (ngSubmit)="save()" [formGroup]="pessoaForm">
    <div class="form-group row" [hidden]="!pessoaForm.get('id').value">
      <label class="col-sm-1 col-form-label" for="id">ID</label>
      <div class="col-2">
        <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="nome">Nome</label>
      <div class="col-2">
        <input class="form-control" type="text" id="nome" name="nome" formControlName="nome">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-1 col-form-label" for="email">Email</label>
      <div class="col-sm-2">
        <input class="form-control" type="text" id="email" name="email" formControlName="email">
      </div>
    </div>
    <div formGroupName="endereco">
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="logradouro">Logradouro</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="logradouro" name="logradouro" formControlName="logradouro">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="numero">Numero</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="numero" name="numero" formControlName="numero">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="bairro">Bairro</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="bairro" name="bairro" formControlName="bairro">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="cep">Cep</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="cep" name="cep" formControlName="cep">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="estado">Estado</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="estado" name="estado" formControlName="estado">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-1 col-form-label" for="cidade">Cidade</label>
        <div class="col-sm-2">
          <input class="form-control" type="text" id="cidade" name="cidade" formControlName="cidade">
        </div>
      </div>
    </div>
    <br>
    <button class="btn btn-success" type="submit">Salvar</button>
  </form>
</div>