<div class="ml-3">
  <div *ngIf="alert" class="alert alert-success" role="alert">
    Pessoa removida com sucesso!
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Logradouro</th>
        <th scope="col">Numero</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cep</th>
        <th scope="col">Estado</th>
        <th scope="col">Cidade</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pessoa of pessoas">
        <td>{{ pessoa.id }}</td>
        <td>{{ pessoa.nome }}</td>
        <td>{{ pessoa.email }}</td>
        <td>{{ pessoa.enderecos[0].logradouro }}</td>
        <td>{{ pessoa.enderecos[0].numero }}</td>
        <td>{{ pessoa.enderecos[0].bairro }}</td>
        <td>{{ pessoa.enderecos[0].cep }}</td>
        <td>{{ pessoa.enderecos[0].estado }}</td>
        <td>{{ pessoa.enderecos[0].cidade }}</td>
        <td><button class="btn-danger" (click)="removePessoa(pessoa.id)">Excluir</button></td>
        <td><button class="btn-primary" [routerLink]="['/pessoa-update', pessoa.id]">Editar</button></td>
      </tr>
    </tbody>
  </table>
</div>